.myclass {
    padding-bottom: 3px;
    margin: -20px 0 0px !important;
    border-bottom: 1px solid #eee;
}
.h1new {
  font-size: 28px !important;
}

.btn-default {

    color: #FFF !important;
    background-color: #428bca !important;
    border-color: #ccc !important;
}
.btn:hover {

    color: #FFF !important;
    background-color: #3174ae !important;
    text-decoration: none !important;

}
.btn-default:hover {

    color: #FFF !important;
    background-color: #3174ae !important;
    border-color: #adadad !important;

}

a:link{
    text-decoration:none;
}

.link_menu {
  font-size: 23px !important;
  padding-top: 14px !important;
  color: #7f878f !important;
  }
  .link_menu:hover {
  font-size: 23px !important;
  padding-top: 14px !important;
  color: #4d5257 !important;
  }
  .spacer {
  color: #fff !important;
  font-size: 15px !important;
  width: 15px !important;
  text-align: right !important;
  }
  .switcher {
    width: 60px;
    }  